tradingalgo/trading agent/AI Hedge Fund v2 copy.json
{
  "name": "AI Hedge Fund v2 copy",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message",
          "edited_message"
        ],
        "additionalFields": {}
      },
      "id": "ca3dfeaa-af86-4cf8-bebd-f611fc4df6b1",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        400
      ],
      "webhookId": "c3def78a-d56a-4a88-905d-9bd5673d5e91",
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Parse incoming Telegram command\nconst message = $input.item.json.message || $input.item.json.edited_message;\nconst text = message?.text || '';\nconst chatId = message?.chat?.id;\nconst userId = message?.from?.id;\nconst username = message?.from?.username || 'unknown';\n\nconst command = text.split(' ')[0].toLowerCase();\nconst args = text.substring(command.length).trim();\n\n// Return as array (CRITICAL FIX)\nreturn [{\n  command,\n  args,\n  chatId,\n  userId,\n  username,\n  fullText: text,\n  timestamp: new Date().toISOString(),\n  messageId: message?.message_id\n}];"
      },
      "id": "e67cd50f-87d5-46af-a002-86623e4ad4fd",
      "name": "Parse Command",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        192,
        400
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.command }}",
                    "rightValue": "/start",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "e5f789d0-9288-4a2b-b439-2adf1efd4e3d"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "start"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.command }}",
                    "rightValue": "/help",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "1aeccc5d-a2e9-4b20-9acf-c1be05647701"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "help"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.command }}",
                    "rightValue": "/portfolio",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "7be632b7-0038-427f-b2bf-53ac3a206a61"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "portfolio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.command }}",
                    "rightValue": "/analyze",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "70fe8149-723a-454c-a721-43bab0d35840"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "analyze"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.command }}",
                    "rightValue": "/risk",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "53e35fc5-b5f2-4666-b8a5-0843aa9c11d9"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "risk"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.command }}",
                    "rightValue": "/rebalance",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "d96fe255-effc-448c-bf54-790a0678103f"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "rebalance"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.command }}",
                    "rightValue": "/performance",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "046df71c-016c-4ddc-9a62-492c8a7f1ba2"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "performance"
            }
          ]
        },
        "options": {}
      },
      "id": "e03705d0-dfb8-43c8-8d55-6114e9a116a2",
      "name": "Command Router",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        400,
        400
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "🤖 **AI Hedge Fund Automation v2.0**\n\nWelcome to your institutional-grade portfolio management system!\n\n📋 **Available Commands:**\n/help - Complete command reference\n/portfolio - Set/update holdings\n/analyze - AI advisor analysis\n/risk - Risk metrics & assessment\n/rebalance - Rebalancing suggestions\n/performance - Historical performance\n\n💰 **Supported Assets:**\n• Stocks (US Markets)\n• Crypto (BTC, ETH, SOL, etc.)\n• Commodities (GOLD, SILVER, OIL)\n• Bonds (Treasury ETFs)\n\n🎯 **New Features:**\n• Sharpe Ratio & risk metrics\n• Historical performance tracking\n• Multi-source price fallbacks\n• AI advisor memory\n• Persistent portfolio storage\n\nType /portfolio to begin! 🚀",
        "additionalFields": {}
      },
      "id": "90679703-a9fd-47ba-94ac-a2c5f48600ca",
      "name": "Send Start Message",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        672,
        64
      ],
      "webhookId": "36dcebc0-5588-402f-9b11-5dc0968d4c23"
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "📚 **Complete Command Reference**\n\n**Portfolio Management:**\n/portfolio AAPL:100,BTC:0.5,GOLD:50 - Set holdings\n/portfolio - View current portfolio\n\n**Analysis & Insights:**\n/analyze - Get AI advisor insights\n/risk - Portfolio risk analysis\n/rebalance - Get rebalancing suggestions\n/performance - View historical returns\n\n**Portfolio Format:**\nSYMBOL:QUANTITY,SYMBOL:QUANTITY\n\n**Examples:**\n/portfolio AAPL:100,MSFT:50\n/portfolio BTC:1.5,ETH:10,SOL:200\n/portfolio AAPL:100,BTC:0.5,GOLD:50,TLT:25\n\n**Supported Symbols:**\n• Stocks: AAPL, MSFT, GOOGL, AMZN, TSLA, NVDA, etc.\n• Crypto: BTC, ETH, SOL, ADA, MATIC, DOT, etc.\n• Commodities: GOLD, SILVER, OIL, GAS, COPPER\n• Bonds: TLT, AGG, BND, IEF, SHY\n\n**Risk Metrics Explained:**\n• Sharpe Ratio - Risk-adjusted returns\n• Beta - Volatility vs market\n• VaR - Value at Risk (95% confidence)\n• Max Drawdown - Worst decline\n• Volatility - Standard deviation\n\n**AI Advisors:**\n• Warren Buffett - Value investing\n• Ray Dalio - Risk parity\n• Cathie Wood - Innovation focus\n• Bill Ackman - Activist approach\n• Michael Burry - Contrarian analysis\n\n⚠️ **Disclaimer:** This is not financial advice. Always consult a licensed financial advisor.",
        "additionalFields": {}
      },
      "id": "fb532653-41bb-45ca-83ac-2ef5e85e124c",
      "name": "Send Help Message",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        656,
        224
      ],
      "webhookId": "758c5b46-02c8-420d-8168-909c70cb87f4"
    },
    {
      "parameters": {
        "jsCode": "// Parse portfolio input with error handling\ntry {\n  const args = $input.item.json.args;\n  const chatId = $input.item.json.chatId;\n  const userId = $input.item.json.userId;\n  const username = $input.item.json.username;\n\n  // If no args, user wants to view portfolio\n  if (!args || args.trim() === '') {\n    return [{\n      action: 'view',\n      chatId,\n      userId\n    }];\n  }\n\n  const holdings = [];\n  const errors = [];\n  const pairs = args.split(',');\n\n  for (const pair of pairs) {\n    const [symbol, qty] = pair.trim().split(':');\n    \n    if (symbol && qty) {\n      const quantity = parseFloat(qty);\n      if (isNaN(quantity) || quantity <= 0) {\n        errors.push(`Invalid quantity for ${symbol}: ${qty}`);\n      } else {\n        holdings.push({\n          symbol: symbol.trim().toUpperCase(),\n          quantity: quantity,\n          userId: userId,\n          username: username\n        });\n      }\n    } else {\n      errors.push(`Invalid format: ${pair}`);\n    }\n  }\n\n  if (errors.length > 0 && holdings.length === 0) {\n    return [{\n      error: true,\n      chatId,\n      message: `❌ Errors found:\\n${errors.join('\\n')}\\n\\nFormat: /portfolio SYMBOL:QUANTITY,SYMBOL:QUANTITY\\nExample: /portfolio AAPL:100,BTC:0.5`\n    }];\n  }\n\n  return [{\n    action: 'set',\n    holdings,\n    chatId,\n    userId,\n    username,\n    errors: errors.length > 0 ? errors : null\n  }];\n  \n} catch (error) {\n  return [{\n    error: true,\n    chatId: $input.item.json.chatId,\n    message: `❌ Error parsing portfolio: ${error.message}`\n  }];\n}"
      },
      "id": "25a8a8d2-901d-47bc-b5a0-10cc0a0da483",
      "name": "Parse Portfolio Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        656,
        448
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check_error",
              "leftValue": "={{ $json.error }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "fb68589e-21bb-43d1-acda-7cbb1272cade",
      "name": "Check Parse Error",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        848,
        448
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "={{ $json.message }}",
        "additionalFields": {}
      },
      "id": "c6dd4c40-f086-49e0-8791-341ed13a0b31",
      "name": "Send Error Message",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1040,
        256
      ],
      "webhookId": "1a7dd0a4-901e-4068-bcd4-f2d5604a4ed2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check_action",
              "leftValue": "={{ $json.action }}",
              "rightValue": "view",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "fb27adcb-416e-4010-9b43-4a00d2e7878d",
      "name": "Check Action Type",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1056,
        512
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM portfolios WHERE user_id = $1 ORDER BY created_at DESC LIMIT 1",
        "options": {
          "queryReplacement": "={{ $json.userId }}"
        }
      },
      "id": "d9c67c16-083d-486f-8c5c-d5cbd7eddb40",
      "name": "Load Portfolio from DB",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1248,
        400
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Classify assets and enrich with metadata\ntry {\n  const holdings = $input.item.json.holdings;\n  \n  const cryptoSymbols = ['BTC', 'ETH', 'SOL', 'ADA', 'XRP', 'DOGE', 'MATIC', 'DOT', 'AVAX', 'LINK', 'UNI', 'ATOM', 'NEAR', 'APT', 'ARB'];\n  const commoditySymbols = ['GOLD', 'SILVER', 'OIL', 'GAS', 'COPPER', 'PLATINUM', 'PALLADIUM'];\n  const bondSymbols = ['TLT', 'AGG', 'BND', 'IEF', 'SHY', 'LQD', 'HYG', 'MUB'];\n  \n  const enriched = holdings.map(holding => {\n    const symbol = holding.symbol;\n    let assetType = 'Stock';\n    let apiSource = 'polygon';\n    let coinId = null;\n    \n    if (cryptoSymbols.includes(symbol)) {\n      assetType = 'Crypto';\n      apiSource = 'coingecko';\n      // Map to CoinGecko IDs\n      const coinMap = {\n        'BTC': 'bitcoin', 'ETH': 'ethereum', 'SOL': 'solana',\n        'ADA': 'cardano', 'XRP': 'ripple', 'DOGE': 'dogecoin',\n        'MATIC': 'matic-network', 'DOT': 'polkadot', 'AVAX': 'avalanche-2',\n        'LINK': 'chainlink', 'UNI': 'uniswap', 'ATOM': 'cosmos',\n        'NEAR': 'near', 'APT': 'aptos', 'ARB': 'arbitrum'\n      };\n      coinId = coinMap[symbol] || symbol.toLowerCase();\n    } else if (commoditySymbols.includes(symbol)) {\n      assetType = 'Commodity';\n      apiSource = 'twelvedata';\n    } else if (bondSymbols.includes(symbol)) {\n      assetType = 'Bond';\n      apiSource = 'polygon';\n    }\n    \n    return {\n      ...holding,\n      assetType,\n      apiSource,\n      coinId\n    };\n  });\n  \n  return [{\n    holdings: enriched,\n    chatId: $input.item.json.chatId,\n    userId: $input.item.json.userId,\n    username: $input.item.json.username\n  }];\n  \n} catch (error) {\n  return [{\n    error: true,\n    message: `Error classifying assets: ${error.message}`,\n    chatId: $input.item.json.chatId\n  }];\n}"
      },
      "id": "bdd3037d-02c1-4ad5-a01f-1c1d835a9cdb",
      "name": "Classify Asset Types",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1248,
        592
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "=✅ **Portfolio Saved Successfully!**\n\n{{ $json.holdings.length }} holdings stored:\n\n{{ $json.holdings.map(h => `• ${h.symbol} (${h.assetType}): ${h.quantity}`).join('\\n') }}\n\n💾 Your portfolio is now persistently stored.\n\nNext steps:\n/analyze - Get AI insights\n/risk - View risk metrics\n/rebalance - Get optimization suggestions",
        "additionalFields": {}
      },
      "id": "c27000c2-58ff-4e5b-beef-4d0023e253b6",
      "name": "Confirm Portfolio Saved",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1648,
        592
      ],
      "webhookId": "bf018457-c150-411c-b551-fae7d7e54bef"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT *\nFROM portfolios\nWHERE user_id = {{ $json.userId }}\nORDER BY created_at DESC\nLIMIT 1;\n",
        "options": {}
      },
      "id": "f44825d5-7012-4db9-a72e-32c7a04118e3",
      "name": "Load Portfolio for Analysis",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        656,
        704
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "url": "=https://api.coingecko.com/api/v3/simple/price?ids={{ $json.coinId }}&vs_currencies=usd&include_24hr_change=true&include_market_cap=true&include_24hr_vol=true",
        "options": {
          "timeout": 10000
        }
      },
      "id": "e3867b2d-97c2-4da4-a139-6392d8b6d176",
      "name": "Fetch Crypto Price (CoinGecko)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1264,
        752
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 1000,
      "continueOnFail": true
    },
    {
      "parameters": {
        "url": "=https://api.polygon.io/v2/aggs/ticker/AAPL/prev?adjusted=true\n",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "adjusted",
              "value": "true"
            },
            {
              "name": "apiKey",
              "value": "your api key"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "timeout": 10000
        }
      },
      "id": "6c5e9166-e151-41e1-b179-574c41347e8c",
      "name": "Fetch Stock Price (Polygon)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1264,
        944
      ],
      "retryOnFail": false,
      "maxTries": 2,
      "waitBetweenTries": 1000,
      "continueOnFail": true
    },
    {
      "parameters": {
        "url": "=https://api.twelvedata.com/time_series",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "your api key"
            },
            {
              "name": "symbol",
              "value": "={{ $json.symbol }}"
            },
            {
              "name": "interval",
              "value": "1h"
            },
            {
              "name": "outputsize",
              "value": "100"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      },
      "id": "173ddf89-9f40-4e3d-b4bb-2789a43268cb",
      "name": "Fetch Commodity Price (TwelveData)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1264,
        1120
      ],
      "retryOnFail": false,
      "maxTries": 3,
      "waitBetweenTries": 1000,
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// ✅ Aggregate Portfolio Data (Full Fixed Version)\n// Handles Polygon + TwelveData + base holding\n// Adds volatility, Sharpe Ratio & PnL % even without cost basis\n\n// ---------- helpers ----------\nconst safeItems = (nodeName) => {\n  try { return $items(nodeName, 0, 0)?.json || null; }\n  catch { return null; } // node didn't execute; avoid n8n \"unexecuted\" error\n};\n\nconst isPlainObject = (o) =>\n  o && typeof o === 'object' && !Array.isArray(o) && Object.keys(o).length > 0;\n\n// Extract most recent bar from Polygon /v2/aggs/ticker/*/prev\nconst fromPolygon = (o) => {\n  if (!o || !o.ticker || !Array.isArray(o.results) || !o.results.length) return null;\n  const r = o.results[0];\n  return {\n    source: 'polygon:prev',\n    price:  Number(r.c ?? 0),\n    open:   r.o ?? null,\n    high:   r.h ?? null,\n    low:    r.l ?? null,\n    vwap:   r.vw ?? null,\n    volume: r.v ?? null,\n    barTime: (r.t != null) ? new Date(Number(r.t)).toISOString() : null,\n    symbolHint: o.ticker\n  };\n};\n\n// Extract most recent bar from TwelveData time series\nconst fromTwelve = (o) => {\n  if (!o || !o.meta || !Array.isArray(o.values) || !o.values.length) return null;\n  const v = o.values[0];\n  const num = (x) => (x == null ? null : Number(x));\n  return {\n    source: 'twelvedata:timeseries',\n    price:  num(v.close) ?? 0,\n    open:   num(v.open),\n    high:   num(v.high),\n    low:    num(v.low),\n    vwap:   null,                     // TwelveData 1h series doesn't include VWAP\n    volume: num(v.volume),\n    barTime: v.datetime ? new Date(v.datetime.replace(' ', 'T') + 'Z').toISOString() : null,\n    symbolHint: o.meta.symbol\n  };\n};\n\n// Pick the first object that looks like your base holding (symbol/quantity etc.)\nconst findBaseInInputs = (arr) =>\n  arr.find(o => (o.symbol || o.assetType || o.apiSource || o.chatId)) || null;\n\n// ---------- ingest inputs ----------\nconst allItems = $input.all().map(x => x.json).filter(isPlainObject);\n\n// also try to read base holding from the classify-node (if it ran)\nconst baseFromNode =\n  safeItems('classify asset types') ||\n  safeItems('Classify Asset Types') ||\n  null;\n\n// merge precedence: explicit base from inputs > node > {}\nconst base = findBaseInInputs(allItems) || baseFromNode || {};\n\n// pull market data objects from the Merge inputs\nconst polyObj   = allItems.find(o => o.ticker && o.results);\nconst twelveObj = allItems.find(o => o.meta && o.values);\n\n// normalize price snapshots\nconst poly    = fromPolygon(polyObj);\nconst twelve  = fromTwelve(twelveObj);\n\n// ---------- build normalized holding ----------\nconst symbol = String(\n  base.symbol ??\n  poly?.symbolHint ??\n  twelve?.symbolHint ??\n  'UNKNOWN'\n);\n\nconst qty = Number(base.quantity ?? 0);\n\n// price precedence: Polygon → TwelveData → base.currentPrice/price → 0\nconst price =\n  (poly?.price ?? null) ??\n  (twelve?.price ?? null) ??\n  Number(base.currentPrice ?? base.price ?? 0);\n\nconst open   = (poly?.open   ?? twelve?.open   ?? base.open   ?? null);\nconst high   = (poly?.high   ?? twelve?.high   ?? base.high   ?? null);\nconst low    = (poly?.low    ?? twelve?.low    ?? base.low    ?? null);\nconst vwap   = (poly?.vwap   ?? base.vwap      ?? null);\nconst volume = (poly?.volume ?? twelve?.volume ?? base.volume ?? null);\nconst barTime = poly?.barTime ?? twelve?.barTime ?? null;\n\n// --- pick a benchmark price if cost basis is missing ---\nconst prevCloseFromTwelve = (twelveObj?.values?.[1]?.close != null)\n  ? Number(twelveObj.values[1].close)\n  : null;\n\nconst benchPrice =\n  (base.avgCost != null ? Number(base.avgCost) : null) ??\n  (base.entryPrice != null ? Number(base.entryPrice) : null) ??\n  prevCloseFromTwelve ?? null;\n\n// compute costBasis (keep your real cost if provided; else leave 0)\nconst costBasis = Number(\n  base.costBasis ??\n  (base.avgCost != null ? Number(base.avgCost) * qty : 0) ??\n  0\n);\n\nconst value = qty * Number(price || 0);\nconst unrealizedPnL = value - costBasis;\n\n// % PnL since entry, or fallback to change vs benchmark\nlet unrealizedPnLPct = 0;\nif (costBasis > 0) {\n  unrealizedPnLPct = (unrealizedPnL / costBasis) * 100;\n} else if (qty > 0 && benchPrice && benchPrice > 0) {\n  unrealizedPnLPct = ((Number(price || 0) / benchPrice) - 1) * 100;\n}\n\n// ---- time-series risk metrics if TwelveData values[] present ----\nlet volatility = 0;\nlet sharpeRatio = 0;\n\nif (Array.isArray(twelveObj?.values) && twelveObj.values.length >= 20) {\n  const closes = twelveObj.values\n    .map(v => Number(v.close))\n    .filter(n => Number.isFinite(n));\n\n  const rets = [];\n  for (let i = 0; i < closes.length - 1; i++) {\n    const p0 = closes[i], p1 = closes[i + 1];\n    if (p0 > 0 && p1 > 0) rets.push((p0 / p1) - 1);\n  }\n\n  if (rets.length >= 10) {\n    const mean = rets.reduce((a,b)=>a+b,0) / rets.length;\n    const variance = rets.reduce((a,b)=>a + (b - mean) ** 2, 0) / (rets.length - 1);\n    const stdPerHour = Math.sqrt(variance);\n\n    const hoursPerYear = 6.5 * 252;\n    volatility = stdPerHour * Math.sqrt(hoursPerYear) * 100;\n\n    const meanPerYear = mean * hoursPerYear;\n    sharpeRatio = (stdPerHour > 0)\n      ? (meanPerYear / (stdPerHour * Math.sqrt(hoursPerYear)))\n      : 0;\n  }\n}\n\n// ---- metrics block using cost basis if present; else fallback to benchmark ----\nconst totalValue = value;\nconst totalCost  = costBasis;\nconst totalUnrealizedPnL = unrealizedPnL;\nconst totalUnrealizedPnLPct = unrealizedPnLPct;\n\nconst portfolioReturn = (totalCost > 0)\n  ? ((totalValue - totalCost) / totalCost) * 100\n  : (benchPrice && benchPrice > 0 && qty > 0)\n    ? ((Number(price || 0) / benchPrice) - 1) * 100\n    : 0;\n\nconst dataSource =\n  poly?.source ?? twelve?.source ??\n  (base.apiSource ? String(base.apiSource) : 'unknown');\n\n// ---- final holding ----\nconst holding = {\n  symbol,\n  quantity: qty,\n  currentPrice: Number(price || 0),\n  open, high, low, vwap, volume, barTime,\n  value,\n  costBasis,\n  unrealizedPnL,\n  unrealizedPnLPct,\n  dataSource,\n};\n\n// ---- return one portfolio item ----\nconst portfolio = [holding];\nconst allocation = {};\nallocation[symbol] = totalValue > 0 ? 100 : 0;\n\nreturn [{\n  json: {\n    portfolio,\n    totalValue,\n    totalCost,\n    totalUnrealizedPnL,\n    totalUnrealizedPnLPct,\n    allocation,\n    metrics: {\n      portfolioReturn,\n      volatility,\n      sharpeRatio,\n      maxPosition: value,\n      top3Concentration: totalValue > 0 ? 100 : 0,\n    },\n    timestamp: new Date().toISOString(),\n    chatId: base.chatId,\n  }\n}];\n"
      },
      "id": "c8bd4889-f972-4a35-9329-c63fa35da9a3",
      "name": "Aggregate Portfolio Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1680,
        912
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO portfolio_snapshots (user_id, total_value, holdings, metrics, created_at)\nVALUES ($1, $2, $3::jsonb, $4::jsonb, NOW())\nRETURNING id",
        "options": {}
      },
      "id": "db639c56-cf24-4f22-8bdf-8e32f1e0d62a",
      "name": "Save Portfolio Snapshot",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1936,
        608
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Generate comprehensive analysis report (no named lookups; reads only from Merge input)\n\nfunction pickLLM(j) {\n  if (!j || typeof j !== 'object') return null;\n  return (\n    j.output ??\n    j.choices?.[0]?.message?.content ??\n    j.message?.content ??\n    j.content ??\n    j.text ??\n    (typeof j === 'string' ? j : null)\n  );\n}\n\nfunction isPortfolioObj(j) {\n  if (!j || typeof j !== 'object') return false;\n  // Our aggregate node usually has these:\n  if (j.portfolio || j.allocation || j.metrics) return true;\n  // Sometimes the object is wrapped: { data: { portfolio... } }\n  if (j.data && (j.data.portfolio || j.data.allocation || j.data.metrics)) return true;\n  return false;\n}\n\ntry {\n  const inputs = $input.all().map(i => i.json).filter(Boolean);\n\n  // 1) Find portfolio data among merged inputs\n  let data = inputs.find(isPortfolioObj) || {};\n  if (data.data && isPortfolioObj(data.data)) data = data.data; // unwrap { data: {...} } if present\n\n  // 2) Collect advisor texts from the remaining inputs\n  const advisorTexts = inputs\n    .map(pickLLM)\n    .filter(t => typeof t === 'string' && t.trim().length);\n\n  // Try to map them in order (Buffett, Dalio, Wood). If fewer found, fill with placeholder.\n  const [buffett, dalio, wood] = [\n    advisorTexts[0] || 'Analysis unavailable',\n    advisorTexts[1] || 'Analysis unavailable',\n    advisorTexts[2] || 'Analysis unavailable',\n  ];\n\n  // 3) Helpers\n  const pct = (n) => (Number.isFinite(Number(n)) ? Number(n).toFixed(2) : '0.00');\n  const num = (n) => (Number.isFinite(Number(n)) ? Number(n).toLocaleString() : '0');\n\n  // 4) Allocation bars\n  let allocationSection = 'No allocation data.';\n  if (data?.allocation && typeof data.allocation === 'object') {\n    const entries = Object.entries(data.allocation);\n    if (entries.length) {\n      allocationSection = entries\n        .map(([sym, p]) => {\n          const pNum = Number(p) || 0;\n          const bar = '█'.repeat(Math.max(1, Math.round(pNum / 5)));\n          return `${String(sym).padEnd(10)} ${bar} ${pct(pNum)}%`;\n        })\n        .join('\\n');\n    }\n  }\n\n  // 5) Portfolio summary\n  const totalValue = Number(data?.totalValue) || 0;\n  const totalCost  = Number(data?.totalCost)  || 0;\n  const uPnL       = Number(data?.totalUnrealizedPnL) || 0;\n  const uPnLPct    = Number(data?.totalUnrealizedPnLPct) || 0;\n  const assets     = Array.isArray(data?.portfolio) ? data.portfolio.length : 0;\n  const ts         = data?.timestamp ? new Date(data.timestamp).toLocaleString() : 'n/a';\n\n  const m = data?.metrics ?? {};\n  const portRet   = Number(m.portfolioReturn) || 0;\n  const vol       = Number(m.volatility) || 0;\n  const sharpe    = Number(m.sharpeRatio) || 0;\n  const maxPos    = Number(m.maxPosition) || 0;\n  const top3Con   = Number(m.top3Concentration) || 0;\n\n  // 6) Report\n  let report = `📊 **AI HEDGE FUND ANALYSIS**\n════════════════════════════════════════\n\n💰 **Portfolio Summary**\nTotal Value: ${num(totalValue)}\nTotal Cost: ${num(totalCost)}\nUnrealized P&L: ${num(uPnL)} (${pct(uPnLPct)}%)\nAssets: ${assets}\nTimestamp: ${ts}\n\n📈 **Asset Allocation**\n${allocationSection}\n\n📊 **Risk Metrics**\n• Portfolio Return: ${pct(portRet)}%\n• Volatility: ${pct(vol)}%\n• Sharpe Ratio: ${pct(sharpe)}\n• Max Position: ${num(maxPos)}\n• Top 3 Concentration: ${pct(top3Con)}%\n\n════════════════════════════════════════\n\n🎩 **Warren Buffett** - Value Investing\n\n${buffett}\n\n════════════════════════════════════════\n\n🌊 **Ray Dalio** - Macro & Risk Parity\n\n${dalio}\n\n════════════════════════════════════════\n\n🚀 **Cathie Wood** - Disruptive Innovation\n\n${wood}\n\n════════════════════════════════════════\n\n⚠️ **Disclaimer:** This analysis is generated by AI and does not constitute financial advice. Always consult a licensed financial advisor before making investment decisions.`;\n\n  return [{\n    json: {\n      report,\n      chatId: data?.chatId ?? null,\n      data,\n      advisors: { buffett, dalio, wood }\n    }\n  }];\n} catch (error) {\n  return [{\n    json: {\n      error: true,\n      message: `Error generating report: ${error.message}`,\n      chatId: null\n    }\n  }];\n}\n"
      },
      "id": "bebc7c7e-0810-43be-86e7-962cb81f96b2",
      "name": "Generate Analysis Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2672,
        880
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "chatId": "586357283",
        "text": "={{ $json.text }}",
        "additionalFields": {}
      },
      "id": "1d393671-79dc-49e7-b215-539d2e07254d",
      "name": "Send Analysis Report",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2976,
        880
      ],
      "webhookId": "36f0d07d-9f35-4bc7-be6a-834ee17d272c"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM portfolios WHERE user_id = $1 ORDER BY created_at DESC LIMIT 1",
        "options": {
          "queryReplacement": "=={{ $json.userId }"
        }
      },
      "id": "da26bd54-1ef6-4529-b7e0-743726f306cb",
      "name": "Load Portfolio for Risk Analysis",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        656,
        1232
      ],
      "credentials": {
        "postgres": {
          "id": "j4AZwLwNuzhSSozH",
          "name": "Postgres account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Calculate advanced risk metrics\ntry {\n  const dbResult = $input.all();\n  \n  if (!dbResult || dbResult.length === 0 || !dbResult[0].json.holdings) {\n    return [{\n      error: true,\n      chatId: $('Parse Command').first().json.chatId,\n      message: '❌ No portfolio found for risk analysis.'\n    }];\n  }\n  \n  const portfolio = dbResult[0].json;\n  const holdings = JSON.parse(portfolio.holdings);\n  \n  // Get historical snapshots for volatility calculation\n  const snapshots = $input.all().slice(0, 30); // Last 30 days\n  \n  let volatility = 0;\n  let maxDrawdown = 0;\n  let valueAtRisk95 = 0;\n  let beta = 1.0; // Simplified\n  \n  if (snapshots.length > 1) {\n    const returns = [];\n    for (let i = 1; i < snapshots.length; i++) {\n      const prevValue = parseFloat(snapshots[i].json.total_value || 0);\n      const currValue = parseFloat(snapshots[i-1].json.total_value || 0);\n      if (prevValue > 0) {\n        returns.push((currValue - prevValue) / prevValue * 100);\n      }\n    }\n    \n    if (returns.length > 0) {\n      // Calculate volatility (standard deviation)\n      const avgReturn = returns.reduce((a, b) => a + b, 0) / returns.length;\n      const squaredDiffs = returns.map(r => Math.pow(r - avgReturn, 2));\n      volatility = Math.sqrt(squaredDiffs.reduce((a, b) => a + b, 0) / returns.length);\n      \n      // Annualized volatility\n      volatility = volatility * Math.sqrt(252); // Trading days\n      \n      // Calculate max drawdown\n      let peak = snapshots[0].json.total_value;\n      for (const snap of snapshots) {\n        const value = parseFloat(snap.json.total_value || 0);\n        if (value > peak) peak = value;\n        const drawdown = ((value - peak) / peak) * 100;\n        if (drawdown < maxDrawdown) maxDrawdown = drawdown;\n      }\n      \n      // Value at Risk (95% confidence) - simplified\n      returns.sort((a, b) => a - b);\n      const varIndex = Math.floor(returns.length * 0.05);\n      valueAtRisk95 = returns[varIndex] || 0;\n    }\n  }\n  \n  // Calculate concentration risk\n  const totalValue = holdings.reduce((sum, h) => sum + (h.quantity * (h.currentPrice || 0)), 0);\n  const concentrations = holdings.map(h => {\n    const value = h.quantity * (h.currentPrice || 0);\n    return {\n      symbol: h.symbol,\n      concentration: totalValue > 0 ? (value / totalValue * 100) : 0\n    };\n  }).sort((a, b) => b.concentration - a.concentration);\n  \n  const top1 = concentrations[0]?.concentration || 0;\n  const top5 = concentrations.slice(0, 5).reduce((sum, c) => sum + c.concentration, 0);\n  \n  // Risk assessment\n  let riskLevel = 'Low';\n  let riskScore = 0;\n  \n  if (volatility > 30) riskScore += 3;\n  else if (volatility > 20) riskScore += 2;\n  else if (volatility > 15) riskScore += 1;\n  \n  if (top1 > 40) riskScore += 2;\n  else if (top1 > 25) riskScore += 1;\n  \n  if (maxDrawdown < -20) riskScore += 2;\n  else if (maxDrawdown < -10) riskScore += 1;\n  \n  if (riskScore >= 5) riskLevel = 'High';\n  else if (riskScore >= 3) riskLevel = 'Medium';\n  \n  return [{\n    holdings,\n    riskMetrics: {\n      volatility: volatility.toFixed(2),\n      maxDrawdown: maxDrawdown.toFixed(2),\n      valueAtRisk95: valueAtRisk95.toFixed(2),\n      beta: beta.toFixed(2),\n      top1Concentration: top1.toFixed(1),\n      top5Concentration: top5.toFixed(1),\n      riskLevel,\n      riskScore\n    },\n    concentrations: concentrations.slice(0, 5),\n    chatId: $('Parse Command').first().json.chatId,\n    userId: portfolio.user_id\n  }];\n  \n} catch (error) {\n  return [{\n    error: true,\n    message: `Error calculating risk: ${error.message}`,\n    chatId: $('Parse Command').first().json.chatId\n  }];\n}"
      },
      "id": "40c45655-a4ea-4cc7-ad4c-c46a6a838d3e",
      "name": "Calculate Risk Metrics",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        848,
        1232
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "=⚠️ **PORTFOLIO RISK ANALYSIS**\\n${'═'.repeat(40)}\\n\\n📊 **Risk Metrics**\\n\\nRisk Level: {{ $json.riskMetrics.riskLevel }} (Score: {{ $json.riskMetrics.riskScore }}/7)\\n\\n• Volatility: {{ $json.riskMetrics.volatility }}% (annualized)\\n• Max Drawdown: {{ $json.riskMetrics.maxDrawdown }}%\\n• Value at Risk (95%): {{ $json.riskMetrics.valueAtRisk95 }}%\\n• Beta: {{ $json.riskMetrics.beta }}\\n\\n🎯 **Concentration Analysis**\\n\\nTop Position: {{ $json.riskMetrics.top1Concentration }}%\\nTop 5 Positions: {{ $json.riskMetrics.top5Concentration }}%\\n\\n{{ $json.concentrations.map((c, i) => `${i+1}. ${c.symbol}: ${c.concentration.toFixed(1)}%`).join('\\n') }}\\n\\n📋 **Risk Assessment**\\n\\n{{ $json.riskMetrics.volatility > 25 ? '⚠️ HIGH VOLATILITY: Consider more stable assets\\n' : '' }}{{ $json.riskMetrics.top1Concentration > 30 ? '⚠️ HIGH CONCENTRATION: Diversify holdings\\n' : '' }}{{ $json.riskMetrics.maxDrawdown < -15 ? '⚠️ SIGNIFICANT DRAWDOWN: Review risk tolerance\\n' : '' }}{{ $json.riskMetrics.riskLevel === 'Low' ? '✅ Portfolio shows healthy risk profile\\n' : '' }}\\n💡 **Recommendations:**\\n{{ $json.riskMetrics.riskLevel === 'High' ? '• Consider reducing position sizes\\n• Add uncorrelated assets\\n• Implement stop-loss levels' : '' }}{{ $json.riskMetrics.riskLevel === 'Medium' ? '• Monitor concentration levels\\n• Consider hedging strategies\\n• Review allocation regularly' : '' }}{{ $json.riskMetrics.riskLevel === 'Low' ? '• Maintain current diversification\\n• Consider gradual growth allocation\\n• Regular rebalancing' : '' }}\\n\\n⚠️ **Disclaimer:** Risk metrics are estimates based on historical data and may not predict future performance.",
        "additionalFields": {}
      },
      "id": "c14263fd-9cc7-4216-bf36-15d7b5a094f1",
      "name": "Send Risk Analysis",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1024,
        1232
      ],
      "webhookId": "a3a05626-f42a-4be4-8fb1-52ba977e450a"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM portfolios WHERE user_id = $1 ORDER BY created_at DESC LIMIT 1",
        "options": {
          "queryReplacement": "={{ $json.userId }}"
        }
      },
      "id": "1291ce22-17ba-4dd3-94f8-6772f3caf9bf",
      "name": "Load Portfolio for Rebalancing",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        656,
        1504
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Generate rebalancing recommendations\ntry {\n  const dbResult = $input.all();\n  \n  if (!dbResult || dbResult.length === 0 || !dbResult[0].json.holdings) {\n    return [{\n      error: true,\n      chatId: $('Parse Command').first().json.chatId,\n      message: '❌ No portfolio found for rebalancing.'\n    }];\n  }\n  \n  const portfolio = dbResult[0].json;\n  const holdings = JSON.parse(portfolio.holdings);\n  \n  // Target allocations (customizable)\n  const targets = {\n    'Stock': 40,\n    'Crypto': 20,\n    'Bond': 25,\n    'Commodity': 15\n  };\n  \n  // Calculate current allocations\n  const totalValue = holdings.reduce((sum, h) => sum + (h.quantity * (h.currentPrice || 100)), 0);\n  \n  const current = {};\n  holdings.forEach(h => {\n    const value = h.quantity * (h.currentPrice || 100);\n    current[h.assetType] = (current[h.assetType] || 0) + value;\n  });\n  \n  const currentPct = {};\n  Object.keys(current).forEach(type => {\n    currentPct[type] = (current[type] / totalValue * 100);\n  });\n  \n  // Calculate drift and recommendations\n  const drifts = [];\n  Object.keys(targets).forEach(type => {\n    const target = targets[type];\n    const actual = currentPct[type] || 0;\n    const drift = actual - target;\n    const targetValue = totalValue * (target / 100);\n    const actualValue = current[type] || 0;\n    const dollarChange = targetValue - actualValue;\n    \n    if (Math.abs(drift) > 5) { // 5% threshold\n      drifts.push({\n        assetType: type,\n        current: actual.toFixed(1),\n        target,\n        drift: drift.toFixed(1),\n        dollarChange: dollarChange.toFixed(2),\n        action: drift > 0 ? 'SELL' : 'BUY'\n      });\n    }\n  });\n  \n  // Sort by absolute drift\n  drifts.sort((a, b) => Math.abs(parseFloat(b.drift)) - Math.abs(parseFloat(a.drift)));\n  \n  // Specific asset recommendations\n  const assetRecommendations = [];\n  holdings.forEach(h => {\n    const value = h.quantity * (h.currentPrice || 100);\n    const concentration = (value / totalValue * 100);\n    \n    if (concentration > 25) {\n      assetRecommendations.push({\n        symbol: h.symbol,\n        action: 'REDUCE',\n        reason: `Over-concentrated at ${concentration.toFixed(1)}%`,\n        suggestion: `Consider selling ${Math.floor(h.quantity * 0.25)} units`\n      });\n    }\n  });\n  \n  return [{\n    holdings,\n    totalValue: totalValue.toFixed(2),\n    targets,\n    currentPct,\n    drifts,\n    assetRecommendations,\n    needsRebalancing: drifts.length > 0,\n    chatId: $('Parse Command').first().json.chatId,\n    userId: portfolio.user_id\n  }];\n  \n} catch (error) {\n  return [{\n    error: true,\n    message: `Error generating rebalancing: ${error.message}`,\n    chatId: $('Parse Command').first().json.chatId\n  }];\n}"
      },
      "id": "ef40f9dd-43cd-497f-928b-4b3608a10b11",
      "name": "Generate Rebalancing Plan",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        848,
        1504
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "=⚖️ **PORTFOLIO REBALANCING ANALYSIS**\\n${'═'.repeat(40)}\\n\\n💰 Portfolio Value: ${{ $json.totalValue }}\\n\\n📊 **Current vs Target Allocation**\\n\\n{{ Object.keys($json.targets).map(type => {\n  const current = $json.currentPct[type] || 0;\n  const target = $json.targets[type];\n  const drift = current - target;\n  const arrow = drift > 5 ? '🔴' : drift < -5 ? '🟢' : '⚪';\n  return `${arrow} ${type}:\\n  Current: ${current.toFixed(1)}% | Target: ${target}% | Drift: ${drift > 0 ? '+' : ''}${drift.toFixed(1)}%`;\n}).join('\\n\\n') }}\\n\\n{{ $json.needsRebalancing ? '🔄 **Rebalancing Recommendations**\\n\\n' + $json.drifts.map(d => `${d.action === 'SELL' ? '📤' : '📥'} ${d.action} ${d.assetType}:\\n  Change: ${d.dollarChange} (${d.drift > 0 ? '+' : ''}${d.drift}% drift)`).join('\\n\\n') : '✅ **No Rebalancing Needed**\\n\\nYour portfolio is well-balanced within tolerance thresholds.' }}\\n\\n{{ $json.assetRecommendations.length > 0 ? '⚠️ **Position Alerts**\\n\\n' + $json.assetRecommendations.map(r => `${r.symbol}: ${r.reason}\\n  → ${r.suggestion}`).join('\\n\\n') : '' }}\\n\\n💡 **Implementation Tips:**\\n• Rebalance when drift exceeds 5%\\n• Consider tax implications\\n• Use new contributions first\\n• Rebalance quarterly or annually\\n\\n⚠️ **Disclaimer:** Rebalancing suggestions are guidelines only. Consult your financial advisor before making changes.",
        "additionalFields": {}
      },
      "id": "cc7f7047-b8da-42d7-8260-b7d8086d0fb6",
      "name": "Send Rebalancing Report",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1056,
        1504
      ],
      "webhookId": "abbfe3a7-b788-4e14-b650-dccfb39829fc"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  DATE(created_at) as date,\n  total_value,\n  metrics\nFROM portfolio_snapshots \nWHERE user_id = $1 \nORDER BY created_at DESC \nLIMIT 30",
        "options": {
          "queryReplacement": "=={{ $json.userId }"
        }
      },
      "id": "a5238140-0c11-48d6-a546-aecbc8d6b395",
      "name": "Load Performance History",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        656,
        1808
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Calculate historical performance metrics\ntry {\n  const snapshots = $input.all();\n  \n  if (!snapshots || snapshots.length === 0) {\n    return [{\n      error: true,\n      chatId: $('Parse Command').first().json.chatId,\n      message: '❌ No historical data available yet.\\n\\nPerformance tracking requires at least 2 days of data. Keep using the bot and check back tomorrow!'\n    }];\n  }\n  \n  // Sort by date (newest first)\n  const data = snapshots.map(s => ({\n    date: s.json.date,\n    value: parseFloat(s.json.total_value),\n    metrics: typeof s.json.metrics === 'string' ? JSON.parse(s.json.metrics) : s.json.metrics\n  })).reverse();\n  \n  if (data.length < 2) {\n    return [{\n      error: true,\n      chatId: $('Parse Command').first().json.chatId,\n      message: '❌ Insufficient data for performance analysis.\\n\\nNeed at least 2 data points. Current snapshots: ' + data.length\n    }];\n  }\n  \n  // Calculate returns\n  const returns = [];\n  for (let i = 1; i < data.length; i++) {\n    const prevValue = data[i-1].value;\n    const currValue = data[i].value;\n    if (prevValue > 0) {\n      const dailyReturn = ((currValue - prevValue) / prevValue) * 100;\n      returns.push(dailyReturn);\n    }\n  }\n  \n  // Performance metrics\n  const latestValue = data[data.length - 1].value;\n  const oldestValue = data[0].value;\n  const totalReturn = oldestValue > 0 ? ((latestValue - oldestValue) / oldestValue * 100) : 0;\n  \n  const avgDailyReturn = returns.reduce((a, b) => a + b, 0) / returns.length;\n  const annualizedReturn = avgDailyReturn * 252; // Trading days\n  \n  // Volatility\n  const variance = returns.reduce((sum, r) => sum + Math.pow(r - avgDailyReturn, 2), 0) / returns.length;\n  const dailyVolatility = Math.sqrt(variance);\n  const annualizedVolatility = dailyVolatility * Math.sqrt(252);\n  \n  // Best and worst days\n  const bestDay = Math.max(...returns);\n  const worstDay = Math.min(...returns);\n  \n  // Winning days\n  const winningDays = returns.filter(r => r > 0).length;\n  const winRate = (winningDays / returns.length * 100);\n  \n  // Drawdown calculation\n  let peak = data[0].value;\n  let maxDrawdown = 0;\n  let currentDrawdown = 0;\n  \n  for (const point of data) {\n    if (point.value > peak) {\n      peak = point.value;\n      currentDrawdown = 0;\n    } else {\n      currentDrawdown = ((point.value - peak) / peak) * 100;\n      if (currentDrawdown < maxDrawdown) {\n        maxDrawdown = currentDrawdown;\n      }\n    }\n  }\n  \n  // Sharpe ratio\n  const riskFreeRate = 4.5 / 252; // Daily risk-free rate\n  const excessReturn = avgDailyReturn - riskFreeRate;\n  const sharpeRatio = dailyVolatility > 0 ? (excessReturn / dailyVolatility) * Math.sqrt(252) : 0;\n  \n  // Format historical data for chart\n  const chartData = data.slice(-7).map(d => ({\n    date: d.date,\n    value: d.value.toFixed(2)\n  }));\n  \n  return [{\n    performance: {\n      totalReturn: totalReturn.toFixed(2),\n      annualizedReturn: annualizedReturn.toFixed(2),\n      annualizedVolatility: annualizedVolatility.toFixed(2),\n      sharpeRatio: sharpeRatio.toFixed(2),\n      maxDrawdown: maxDrawdown.toFixed(2),\n      bestDay: bestDay.toFixed(2),\n      worstDay: worstDay.toFixed(2),\n      winRate: winRate.toFixed(1),\n      daysTracked: data.length\n    },\n    currentValue: latestValue.toFixed(2),\n    initialValue: oldestValue.toFixed(2),\n    chartData,\n    chatId: $('Parse Command').first().json.chatId\n  }];\n  \n} catch (error) {\n  return [{\n    error: true,\n    message: `Error calculating performance: ${error.message}`,\n    chatId: $('Parse Command').first().json.chatId\n  }];\n}"
      },
      "id": "cdc6c14b-fb9d-4345-9cce-f40d80b940b4",
      "name": "Calculate Performance Metrics",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        848,
        1808
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "=📈 **HISTORICAL PERFORMANCE REPORT**\\n${'═'.repeat(40)}\\n\\n💰 **Current Portfolio Value**\\n${{ $json.currentValue }} (from ${{ $json.initialValue }})\\n\\n📊 **Return Metrics**\\n• Total Return: {{ $json.performance.totalReturn }}%\\n• Annualized Return: {{ $json.performance.annualizedReturn }}%\\n• Best Day: +{{ $json.performance.bestDay }}%\\n• Worst Day: {{ $json.performance.worstDay }}%\\n• Win Rate: {{ $json.performance.winRate }}%\\n\\n⚠️ **Risk Metrics**\\n• Volatility (Annual): {{ $json.performance.annualizedVolatility }}%\\n• Sharpe Ratio: {{ $json.performance.sharpeRatio }}\\n• Max Drawdown: {{ $json.performance.maxDrawdown }}%\\n\\n📅 **Tracking Period**\\n{{ $json.performance.daysTracked }} days of data\\n\\n📉 **Recent Performance (Last 7 Days)**\\n{{ $json.chartData.map(d => `${d.date}: ${d.value}`).join('\\n') }}\\n\\n💡 **Performance Assessment**\\n{{ parseFloat($json.performance.sharpeRatio) > 1 ? '✅ Excellent risk-adjusted returns' : parseFloat($json.performance.sharpeRatio) > 0.5 ? '⚪ Good risk-adjusted returns' : '⚠️ Below-average risk-adjusted returns' }}\\n{{ parseFloat($json.performance.annualizedVolatility) < 15 ? '✅ Low volatility' : parseFloat($json.performance.annualizedVolatility) < 25 ? '⚪ Moderate volatility' : '⚠️ High volatility' }}\\n{{ parseFloat($json.performance.maxDrawdown) > -10 ? '✅ Controlled drawdown' : parseFloat($json.performance.maxDrawdown) > -20 ? '⚪ Moderate drawdown' : '⚠️ Significant drawdown' }}\\n\\n⚠️ **Note:** Past performance does not guarantee future results. Historical data: {{ $json.performance.daysTracked }} days.",
        "additionalFields": {}
      },
      "id": "d831ddde-09ae-4cfa-a61b-864a7f9667e1",
      "name": "Send Performance Report",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1056,
        1808
      ],
      "webhookId": "c7718222-ccb0-4a0a-85ba-79b70a209316"
    },
    {
      "parameters": {
        "content": "## 🎯 AI Hedge Fund Automation v2.0\n\n### Key Features:\n- ✅ Persistent portfolio storage (Postgres)\n- ✅ Multi-source price fallbacks\n- ✅ Advanced risk metrics (Sharpe, VaR, Max Drawdown)\n- ✅ Historical performance tracking\n- ✅ AI advisor insights with memory\n- ✅ Rebalancing recommendations\n- ✅ Error handling throughout\n- ✅ Array returns in all Code nodes\n\n### Commands:\n/start - Welcome message\n/help - Full documentation\n/portfolio - Set/view holdings\n/analyze - AI analysis\n/risk - Risk assessment\n/rebalance - Rebalancing plan\n/performance - Historical returns\n\n### Setup Required:\n1. Postgres database with schema\n2. Telegram Bot token\n3. OpenAI API key\n4. Polygon.io API key (optional)\n5. CoinGecko (free, no key)\n6. TwelveData API key (optional)",
        "height": 784,
        "width": 389,
        "color": 4
      },
      "id": "2116fc80-1aa2-4b7e-8bde-4c4bb0516394",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -704,
        112
      ]
    },
    {
      "parameters": {
        "content": "## 📊 Database Schema\n\nRun these SQL commands:\n\n```sql\n-- Portfolios table\nCREATE TABLE portfolios (\n  id SERIAL PRIMARY KEY,\n  user_id BIGINT UNIQUE NOT NULL,\n  username VARCHAR(255),\n  holdings JSONB NOT NULL,\n  created_at TIMESTAMPTZ DEFAULT NOW(),\n  updated_at TIMESTAMPTZ DEFAULT NOW()\n);\n\n-- Portfolio snapshots\nCREATE TABLE portfolio_snapshots (\n  id SERIAL PRIMARY KEY,\n  user_id BIGINT NOT NULL,\n  total_value DECIMAL(15,2),\n  holdings JSONB,\n  metrics JSONB,\n  created_at TIMESTAMPTZ DEFAULT NOW()\n);\n\n-- Indexes\nCREATE INDEX idx_portfolios_user \n  ON portfolios(user_id);\nCREATE INDEX idx_snapshots_user_date \n  ON portfolio_snapshots(user_id, created_at DESC);\n```",
        "height": 527,
        "width": 389,
        "color": 5
      },
      "id": "66e11d46-bac4-45e2-b111-c2e77e85fe1b",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -704,
        944
      ]
    },
    {
      "parameters": {
        "content": "## ⚙️ Configuration Checklist\n\n### Required Credentials:\n✅ Telegram Bot API\n  - Get from @BotFather\n  - Set webhook or use polling\n\n✅ Postgres Database\n  - Local or cloud (Supabase, etc.)\n  - Run schema SQL first\n\n✅ OpenAI API\n  - GPT-4 recommended\n  - GPT-3.5-turbo works\n\n### Optional APIs:\n⚪ Polygon.io (stocks)\n  - Free tier: 5 calls/min\n  - Replace YOUR_POLYGON_KEY\n\n⚪ TwelveData (commodities)\n  - Free tier: 800 calls/day\n  - Replace YOUR_TWELVE_DATA_KEY\n\n⚪ CoinGecko (crypto)\n  - Free, no key needed\n  - Rate limit: 10-50/min\n\n### Price Fallback Chain:\n1. Primary API (Polygon/CoinGecko)\n2. Yahoo Finance (free fallback)\n3. Cached prices (if available)\n4. Zero (with error flag)",
        "height": 845,
        "width": 389,
        "color": 6
      },
      "id": "2129caba-27c8-46b2-8a66-8c438f994cf9",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -256,
        624
      ]
    },
    {
      "parameters": {
        "jsCode": "// Get latest row from DB node\nconst row = $input.first()?.json || {};\n\nconst raw = row.holdings;\nconst holdings = typeof raw === 'string' ? JSON.parse(raw) : (raw ?? []);\n\nif (!Array.isArray(holdings) || holdings.length === 0) {\n  return [{\n    error: true,\n    chatId: $('Parse Command').first().json.chatId,\n    message: '❌ Portfolio is empty.'\n  }];\n}\n\nreturn [{\n  holdings,\n  userId: row.user_id,\n  chatId: $('Parse Command').first().json.chatId\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        816,
        704
      ],
      "id": "0b4460da-469a-44a8-942f-3fe31c7d371c",
      "name": "check if portfolio exists"
    },
    {
      "parameters": {
        "jsCode": "// Inputs: [{ holdings: [...], userId, chatId }]\nconst data = $input.first().json;\nconst holdings = data.holdings || [];\n\nconst cryptoMap = {\n  BTC: 'bitcoin',\n  ETH: 'ethereum',\n  SOL: 'solana',\n  XRP: 'ripple',\n  ADA: 'cardano',\n  DOGE: 'dogecoin',\n  BNB: 'binancecoin',\n  AVAX: 'avalanche-2',\n  DOT: 'polkadot',\n  MATIC: 'polygon-pos',\n  // add any others you support\n};\n\nconst stockTickers = new Set(['AAPL','MSFT','GOOGL','AMZN','TSLA']); // optional hints\nconst bondSymbols  = new Set([]); // if you have any custom bond tickers\n\nconst enriched = holdings.map((holding) => {\n  const symbol = (holding.symbol || '').toUpperCase();\n  let assetType = holding.assetType;   // allow pre-tagged\n  let apiSource = holding.apiSource;   // allow pre-tagged\n  let coinId = null;\n\n  // Infer if not supplied\n  if (!assetType) {\n    if (cryptoMap[symbol]) {\n      assetType = 'Crypto';\n    } else if (stockTickers.has(symbol)) {\n      assetType = 'Stock';\n    } else if (bondSymbols.has(symbol)) {\n      assetType = 'Bond';\n    } else {\n      // Fallback heuristic: treat unknown as Stock unless it matches a crypto map\n      assetType = cryptoMap[symbol] ? 'Crypto' : 'Stock';\n    }\n  }\n\n  if (!apiSource) {\n    apiSource = assetType === 'Crypto' ? 'coingecko' : 'polygon';\n  }\n\n  if (assetType === 'Crypto') {\n    coinId = cryptoMap[symbol] || null; // only crypto needs this\n  }\n\n  return {\n    ...holding,\n    symbol,        // normalized\n    assetType,\n    apiSource,\n    coinId,        // null for non-crypto (expected)\n    chatId: data.chatId\n  };\n});\n\nreturn enriched.map(item => ({ json: item }));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1008,
        720
      ],
      "id": "19b7485a-6e95-4337-85c1-a286902563cc",
      "name": "classify asset types"
    },
    {
      "parameters": {
        "numberInputs": 4
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1504,
        880
      ],
      "id": "df28f7e4-81eb-4887-9fcf-9a491183b7bb",
      "name": "Merge"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        2144,
        768
      ],
      "id": "6a89f844-7479-4d43-93cf-13be32e1b892",
      "name": "OpenAI Chat Model"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are “Warren Buffett AI Advisor,” a calm, plain-spoken, long-term value investor persona inspired by Warren Buffett’s principles. You do NOT role-play the real person; you apply his approach.\n\nCore philosophy\n- Think like a business owner, not a stock trader.\n- Stay within your circle of competence; say when something is outside it.\n- Seek durable competitive advantages (moats), prudent capital allocation, and trustworthy management.\n- Prefer high and consistent ROIC, strong free cash flow, conservative balance sheets.\n- Use conservative assumptions and a margin of safety; be patient.\n- Avoid forecasting macro; focus on business economics and price vs. intrinsic value.\n\nGuardrails\n- No trading instructions or guarantees. This is educational analysis, not personalized financial advice.\n- If key data is missing or uncertain, say so explicitly and show how you’d proceed.\n- Never fabricate numbers. Use what’s provided; otherwise describe the framework to value it.\n- Keep jargon minimal and explain any terms briefly.\n\nAnalysis checklist (use what’s provided in the inputs)\n1) Business quality & moat (network effects, switching costs, cost advantages, brand, regulatory).\n2) Management & capital allocation (buybacks, dividends, reinvestment discipline, leverage).\n3) Unit economics & financial snapshot (growth, FCF margin, ROIC, leverage trend).\n4) Valuation anchors\n   - Owner earnings / FCF yield at the current price.\n   - A quick DCF range with conservative growth and discount rate assumptions (state assumptions).\n   - Margin of Safety: compare price to intrinsic value range.\n5) Key risks & “what would make me wrong?”\n6) What Buffett-style investor might do (hold/learn more/watchlist/avoid) — as a high-level stance, NOT a directive.\n\nTone & formatting\n- Be concise, structured, and plain-spoken (Buffett-like).\n- End with a short list of “Questions to Investigate Next.”\n- If time-series is available, you may compute simple changes/volatility; otherwise skip.\n\nOutput format (use these exact section headers):\nSummary\nBusiness Quality\nFinancial Snapshot\nValuation Snapshot\nRisks\nBuffett-Style Take\nQuestions to Investigate Next\nDisclosures\n",
        "options": {
          "systemMessage": "=Analyze the following holding using the Buffett-style framework. Use only the data provided. If a field is missing, acknowledge it and proceed conservatively.\n\nHolding (normalized):\n- Symbol: {{$json.portfolio[0].symbol || 'UNKNOWN'}}\n- Quantity: {{$json.portfolio[0].quantity || 0}}\n- Current Price: {{$json.portfolio[0].currentPrice || 0}}\n- Open/High/Low: {{$json.portfolio[0].open || 'n/a'}} / {{$json.portfolio[0].high || 'n/a'}} / {{$json.portfolio[0].low || 'n/a'}}\n- VWAP: {{$json.portfolio[0].vwap || 'n/a'}}\n- Volume (latest bar): {{$json.portfolio[0].volume || 'n/a'}}\n- Bar Time (ISO): {{$json.portfolio[0].barTime || 'n/a'}}\n- Cost Basis (total): {{$json.portfolio[0].costBasis || 0}}\n- Position Value: {{$json.portfolio[0].value || 0}}\n- Unrealized PnL ($ / %): {{$json.portfolio[0].unrealizedPnL || 0}} / {{$json.portfolio[0].unrealizedPnLPct || 0}}%\n- Data Source: {{$json.portfolio[0].dataSource || 'unknown'}}\n\nPortfolio metrics:\n- Total Value: {{$json.totalValue || 0}}\n- Total Cost: {{$json.totalCost || 0}}\n- Total Unrealized PnL: {{$json.totalUnrealizedPnL || 0}}\n- Total Unrealized PnL %: {{$json.totalUnrealizedPnLPct || 0}}%\n- Allocation (this symbol): {{ $json.allocation && $json.portfolio && $json.portfolio[0] && $json.allocation[$json.portfolio[0].symbol] ? $json.allocation[$json.portfolio[0].symbol] : 0 }}%\n- Portfolio Return %: {{$json.metrics && $json.metrics.portfolioReturn !== undefined ? $json.metrics.portfolioReturn : 0}}%\n- Volatility % (annualized approx): {{$json.metrics && $json.metrics.volatility !== undefined ? $json.metrics.volatility : 0}}%\n- Sharpe Ratio (approx): {{$json.metrics && $json.metrics.sharpeRatio !== undefined ? $json.metrics.sharpeRatio : 0}}\n\nIf you also received a recent intraday time series (TwelveData style) upstream, you may reference it as “recent trading context,” but do not rely on it for valuation.\n\nDeliver the output using the required section headers:\nSummary\nBusiness Quality\nFinancial Snapshot\nValuation Snapshot\nRisks\nBuffett-Style Take\nQuestions to Investigate Next\nDisclosures\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        2144,
        608
      ],
      "id": "5582fb5d-6e48-4c91-8cd9-d26c3906ce74",
      "name": "Warren Buffet Advisor"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        2176,
        1040
      ],
      "id": "aa03a163-b5ee-4071-ba23-e394bd3f829a",
      "name": "OpenAI Chat Model1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Analyze the following holding through the lens of disruptive innovation and long-term technology adoption, using the Cathie Wood framework.\n\nHolding (normalized):\n- Symbol: {{$json.portfolio[0].symbol || 'UNKNOWN'}}\n- Quantity: {{$json.portfolio[0].quantity || 0}}\n- Current Price: {{$json.portfolio[0].currentPrice || 0}}\n- Open/High/Low: {{$json.portfolio[0].open || 'n/a'}} / {{$json.portfolio[0].high || 'n/a'}} / {{$json.portfolio[0].low || 'n/a'}}\n- VWAP: {{$json.portfolio[0].vwap || 'n/a'}}\n- Volume (latest bar): {{$json.portfolio[0].volume || 'n/a'}}\n- Bar Time (ISO): {{$json.portfolio[0].barTime || 'n/a'}}\n- Cost Basis (total): {{$json.portfolio[0].costBasis || 0}}\n- Position Value: {{$json.portfolio[0].value || 0}}\n- Unrealized PnL ($ / %): {{$json.portfolio[0].unrealizedPnL || 0}} / {{$json.portfolio[0].unrealizedPnLPct || 0}}%\n- Data Source: {{$json.portfolio[0].dataSource || 'unknown'}}\n\nPortfolio metrics:\n- Total Value: {{$json.totalValue || 0}}\n- Total Cost: {{$json.totalCost || 0}}\n- Total Unrealized PnL: {{$json.totalUnrealizedPnL || 0}}\n- Total Unrealized PnL %: {{$json.totalUnrealizedPnLPct || 0}}%\n- Allocation (this symbol): {{ $json.allocation && $json.portfolio && $json.portfolio[0] && $json.allocation[$json.portfolio[0].symbol] ? $json.allocation[$json.portfolio[0].symbol] : 0 }}%\n- Portfolio Return %: {{$json.metrics && $json.metrics.portfolioReturn !== undefined ? $json.metrics.portfolioReturn : 0}}%\n- Volatility % (annualized approx): {{$json.metrics && $json.metrics.volatility !== undefined ? $json.metrics.volatility : 0}}%\n- Sharpe Ratio (approx): {{$json.metrics && $json.metrics.sharpeRatio !== undefined ? $json.metrics.sharpeRatio : 0}}\n\nIf upstream data includes intraday series (Polygon/TwelveData) or fundamentals, use them to identify volatility, innovation momentum, or growth inflection — but focus mainly on long-term transformative potential.\n\nDeliver the output using these exact headers:\nSummary\nInnovation Theme Fit\nTechnology Cost Curve & Adoption\nMarket Impact\nFinancial Leverage to Innovation\nRisks\nLong-Term Opportunity Outlook\nSignals to Watch\nDisclosures\n",
        "options": {
          "systemMessage": "You are “Cathie Wood AI Advisor,” an optimistic but data-driven innovation investor persona inspired by Cathie Wood and ARK Invest’s research methodology. You do NOT impersonate the real person; you apply her thematic, first-principles approach to exponential technologies and long-term growth investing.\n\nCore philosophy\n- Focus on disruptive innovation: AI, genomics, robotics, energy storage, fintech, and blockchain.\n- Evaluate how a technology can reduce costs, improve efficiency, and unleash new demand curves.\n- Think in 5- to 10-year horizons, not quarterly results.\n- Assess the convergence of technologies and second-order effects (e.g., AI + robotics + battery innovation).\n- Emphasize exponential S-curve adoption and deflationary innovation (cost declines → demand surges).\n- Consider both the technology’s fundamentals *and* its macro context (rates, liquidity, innovation cycles).\n\nGuardrails\n- Provide thematic investment reasoning only. Do **not** give buy/sell recommendations or forecasts.\n- Avoid hype; anchor optimism in data and logical cause-effect reasoning.\n- If key technological data (adoption rate, CAGR, TAM, cost curve) is missing, explain the framework you’d use to model it.\n- Keep tone visionary yet intellectually honest — balance optimism with risk awareness.\n\nFramework for reasoning\n1. **Innovation Theme Fit** – Which disruptive innovation categories does this company/asset relate to?  \n2. **Technology Cost Curve & Adoption** – How fast could costs fall and adoption rise? What are the inflection points?  \n3. **Market Impact & TAM Expansion** – Could this reshape industries or displace incumbents?  \n4. **Financial Leverage to Innovation** – How does growth translate into margins, cash flow, and scalability?  \n5. **Risks & Sensitivity** – Regulatory, technological, or execution risks that could delay adoption.  \n6. **Long-Term Opportunity Outlook** – 5-10 year view on what this could become under an innovation-driven thesis.\n\nTone & formatting\n- Visionary, clear, and data-anchored — “technological optimism with analytical discipline.”\n- Explain in plain English how innovation affects growth, margins, and competitive position.\n- End each analysis with **“Signals to Watch”** — key metrics or milestones to track.\n\nOutput format (use these exact section headers):\nSummary\nInnovation Theme Fit\nTechnology Cost Curve & Adoption\nMarket Impact\nFinancial Leverage to Innovation\nRisks\nLong-Term Opportunity Outlook\nSignals to Watch\nDisclosures\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        2160,
        1152
      ],
      "id": "bd51254c-9da4-471b-bbc2-52dfb1a4a428",
      "name": "Cathie Wood"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        2144,
        1312
      ],
      "id": "a2964a8e-1154-424f-abb0-60ea7decc78e",
      "name": "OpenAI Chat Model2"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "numberInputs": 3,
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2512,
        864
      ],
      "id": "90284322-048a-4323-8db4-3aeb3e88fa59",
      "name": "Merge1",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Analyze this holding and its potential macro implications using the Ray Dalio framework.\n\nHolding (normalized):\n- Symbol: {{$json.portfolio[0].symbol || 'UNKNOWN'}}\n- Quantity: {{$json.portfolio[0].quantity || 0}}\n- Current Price: {{$json.portfolio[0].currentPrice || 0}}\n- Open/High/Low: {{$json.portfolio[0].open || 'n/a'}} / {{$json.portfolio[0].high || 'n/a'}} / {{$json.portfolio[0].low || 'n/a'}}\n- VWAP: {{$json.portfolio[0].vwap || 'n/a'}}\n- Volume (latest bar): {{$json.portfolio[0].volume || 'n/a'}}\n- Bar Time (ISO): {{$json.portfolio[0].barTime || 'n/a'}}\n- Cost Basis (total): {{$json.portfolio[0].costBasis || 0}}\n- Position Value: {{$json.portfolio[0].value || 0}}\n- Unrealized PnL ($ / %): {{$json.portfolio[0].unrealizedPnL || 0}} / {{$json.portfolio[0].unrealizedPnLPct || 0}}%\n- Data Source: {{$json.portfolio[0].dataSource || 'unknown'}}\n\nPortfolio metrics:\n- Total Value: {{$json.totalValue || 0}}\n- Total Cost: {{$json.totalCost || 0}}\n- Total Unrealized PnL: {{$json.totalUnrealizedPnL || 0}}\n- Total Unrealized PnL %: {{$json.totalUnrealizedPnLPct || 0}}%\n- Allocation (this symbol): {{ $json.allocation && $json.portfolio && $json.portfolio[0] && $json.allocation[$json.portfolio[0].symbol] ? $json.allocation[$json.portfolio[0].symbol] : 0 }}%\n- Portfolio Return %: {{$json.metrics && $json.metrics.portfolioReturn !== undefined ? $json.metrics.portfolioReturn : 0}}%\n- Volatility % (annualized approx): {{$json.metrics && $json.metrics.volatility !== undefined ? $json.metrics.volatility : 0}}%\n- Sharpe Ratio (approx): {{$json.metrics && $json.metrics.sharpeRatio !== undefined ? $json.metrics.sharpeRatio : 0}}\n\nIf available upstream, reference recent TwelveData or Polygon data for context on market momentum, but keep the analysis macro-principle-based.\n\nUse the output format:\nSummary\nMacro Context\nAsset Implications\nPortfolio Balance\nKey Risks\nPrinciples to Remember\nDisclosures\n",
        "options": {
          "systemMessage": "You are “Ray Dalio AI Advisor,” a rational, systems-thinking macro investor persona inspired by Ray Dalio’s principles from Bridgewater Associates and his book *Principles for Navigating Big Debt Crises*. You do NOT impersonate the real person; you embody his analytical style.\n\nCore philosophy\n- Study cause-and-effect relationships across economic cycles.\n- Focus on productivity, credit, inflation, interest rates, and currency flows as key drivers.\n- Think in terms of “machine” dynamics — what inputs lead to what outputs.\n- Emphasize diversification, balance, and understanding correlations.\n- Distinguish between short-term and long-term debt cycles.\n- Avoid emotional reactions; act based on logic and timeless principles.\n\nGuardrails\n- This is educational macro and portfolio context — not specific financial advice.\n- Never forecast price targets or make recommendations.\n- Use only provided data. If critical macro data is missing, outline what you’d normally look for.\n- Keep insights practical but principle-based.\n- Explain concepts simply; prefer clarity over jargon.\n\nFramework for reasoning\n1. **Macro Context**\n   - Where are we in the short-term and long-term debt cycles?\n   - Is liquidity expanding or contracting?\n   - Are interest rates rising or falling, and what are the implications?\n2. **Asset Implications**\n   - How would different environments (rising inflation, tightening liquidity, growth slowdown) affect this asset type?\n   - Discuss probable correlations with equity indices, commodities, and bonds.\n3. **Portfolio Balance**\n   - How could this holding fit within a diversified, risk-parity style portfolio?\n   - How might it hedge or correlate with other asset classes?\n4. **Risk Factors**\n   - Key tail risks or regime shifts that could impact performance.\n5. **Principles Summary**\n   - Timeless takeaways from Dalio’s approach applicable to this asset or situation.\n\nTone & formatting\n- Analytical but calm, educational, and principle-based.\n- Avoid forecasting or opinions about “what will happen.”\n- End each answer with 3 “Principles to Remember.”\n\nOutput structure (use these headers):\nSummary\nMacro Context\nAsset Implications\nPortfolio Balance\nKey Risks\nPrinciples to Remember\nDisclosures\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        2176,
        896
      ],
      "id": "683967e8-470f-43ed-b5f9-d27a5103e3ee",
      "name": "Ray Dalio Advisor"
    },
    {
      "parameters": {
        "jsCode": "// Chunk the generated report into Telegram-safe messages.\n// Input shape expected from previous node: { report, chatId, ... }\n\nconst MAX = 3500; // keep well under Telegram's ~4096 limit (emojis/formatting safety)\n\n// Greedy chunker that prefers paragraph boundaries, then hard-splits when needed\nfunction chunkByParagraph(text, max) {\n  const paras = String(text).split(/\\n{2,}/); // split on blank lines\n  const out = [];\n  let buf = '';\n\n  function pushBuf() {\n    if (buf.length) { out.push(buf); buf = ''; }\n  }\n\n  for (const p of paras) {\n    const block = (buf ? '\\n\\n' : '') + p;\n    if ((buf + block).length <= max) {\n      buf += block;\n    } else {\n      pushBuf();\n      if (p.length <= max) {\n        buf = p; // start new buffer with this paragraph\n      } else {\n        // paragraph itself is too big -> hard-split\n        let s = p;\n        while (s.length > max) {\n          out.push(s.slice(0, max));\n          s = s.slice(max);\n        }\n        buf = s;\n      }\n    }\n  }\n  pushBuf();\n  return out;\n}\n\n// 1) read input\nconst inItem = $input.first()?.json || {};\nconst report = inItem.report;\nconst chatId = inItem.chatId ?? null;\n\nif (!report) {\n  return [{ json: { error: true, message: 'No report to chunk', chatId } }];\n}\n\n// (Optional) If your Telegram node uses \"Parse Mode: None\", leave text as-is.\n// If you use \"MarkdownV2\" or \"HTML\", you may need escaping/transforming.\n// For now we keep the original text. You can uncomment to strip **bold** -> bold:\n//\n// const safeReport = report.replaceAll(/\\*\\*(.*?)\\*\\*/g, '$1');\n\nconst parts = chunkByParagraph(report, MAX);\nconst total = parts.length;\n\n// 2) return one item per chunk -> Telegram node will send one message per item\nreturn parts.map((text, i) => ({\n  json: {\n    chatId,\n    text: `${text}\\n\\n[${i + 1}/${total}]`\n  }\n}));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2832,
        880
      ],
      "id": "06aaa162-2e05-4ba3-91a8-14a098a1b85f",
      "name": "Code"
    }
  ],
  "pinData": {
    "Aggregate Portfolio Data": [
      {
        "json": {
          "portfolio": [
            {
              "symbol": "AAPL",
              "quantity": 100,
              "currentPrice": 247.45,
              "open": 248.25,
              "high": 249.04,
              "low": 245.13,
              "vwap": 247.354,
              "volume": 39776974,
              "barTime": "2025-10-16T20:00:00.000Z",
              "value": 24745,
              "costBasis": 0,
              "unrealizedPnL": 24745,
              "unrealizedPnLPct": -2.1008032165217294,
              "dataSource": "polygon:prev"
            }
          ],
          "totalValue": 24745,
          "totalCost": 0,
          "totalUnrealizedPnL": 24745,
          "totalUnrealizedPnLPct": -2.1008032165217294,
          "allocation": {
            "AAPL": 100
          },
          "metrics": {
            "portfolioReturn": -2.1008032165217294,
            "volatility": 16.86926897732058,
            "sharpeRatio": -0.5709701340871804,
            "maxPosition": 24745,
            "top3Concentration": 100
          },
          "timestamp": "2025-10-17T22:09:11.611Z",
          "chatId": 586357283
        }
      }
    ]
  },
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Parse Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Command": {
      "main": [
        [
          {
            "node": "Command Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Command Router": {
      "main": [
        [
          {
            "node": "Send Start Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Help Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Parse Portfolio Input",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Load Portfolio for Analysis",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Load Portfolio for Risk Analysis",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Load Portfolio for Rebalancing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Load Performance History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Portfolio Input": {
      "main": [
        [
          {
            "node": "Check Parse Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Parse Error": {
      "main": [
        [
          {
            "node": "Send Error Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check Action Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Action Type": {
      "main": [
        [
          {
            "node": "Load Portfolio from DB",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Classify Asset Types",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classify Asset Types": {
      "main": [
        [
          {
            "node": "Confirm Portfolio Saved",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Portfolio for Analysis": {
      "main": [
        [
          {
            "node": "check if portfolio exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Crypto Price (CoinGecko)": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Stock Price (Polygon)": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Fetch Commodity Price (TwelveData)": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Aggregate Portfolio Data": {
      "main": [
        [
          {
            "node": "Save Portfolio Snapshot",
            "type": "main",
            "index": 0
          },
          {
            "node": "Warren Buffet Advisor",
            "type": "main",
            "index": 0
          },
          {
            "node": "Cathie Wood",
            "type": "main",
            "index": 0
          },
          {
            "node": "Ray Dalio Advisor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Analysis Report": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Analysis Report": {
      "main": [
        []
      ]
    },
    "Load Portfolio for Risk Analysis": {
      "main": [
        [
          {
            "node": "Calculate Risk Metrics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Risk Metrics": {
      "main": [
        [
          {
            "node": "Send Risk Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Portfolio for Rebalancing": {
      "main": [
        [
          {
            "node": "Generate Rebalancing Plan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Rebalancing Plan": {
      "main": [
        [
          {
            "node": "Send Rebalancing Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Performance History": {
      "main": [
        [
          {
            "node": "Calculate Performance Metrics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Performance Metrics": {
      "main": [
        [
          {
            "node": "Send Performance Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "check if portfolio exists": {
      "main": [
        [
          {
            "node": "classify asset types",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "classify asset types": {
      "main": [
        [
          {
            "node": "Fetch Crypto Price (CoinGecko)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Stock Price (Polygon)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Commodity Price (TwelveData)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Aggregate Portfolio Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Warren Buffet Advisor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Warren Buffet Advisor": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Ray Dalio Advisor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Cathie Wood",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Cathie Wood": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Generate Analysis Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ray Dalio Advisor": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Send Analysis Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "4a552c2a-f225-4915-aed0-65f354adaf29",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "bda284ba69a5bf5f0d731ca0a44a60340df82eff9ee04a27b6a86d364a4b86e3"
  },
  "id": "n3ZyK5sIzJSoW6KT",
  "tags": [
    {
      "createdAt": "2025-10-15T22:51:54.116Z",
      "updatedAt": "2025-10-15T22:51:54.116Z",
      "id": "IVixkjbuCBFNSlo7",
      "name": "Finance"
    },
    {
      "createdAt": "2025-10-15T22:51:54.082Z",
      "updatedAt": "2025-10-15T22:51:54.082Z",
      "id": "rE6W61PLQVif3SQd",
      "name": "Portfolio"
    },
    {
      "createdAt": "2025-10-15T22:51:54.056Z",
      "updatedAt": "2025-10-15T22:51:54.056Z",
      "id": "ugBt54RcaQChaEwq",
      "name": "AI"
    }
  ]
}